@import url('https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300&subset=latin-ext');

/* Variables */

$color-light: #fff;
$color-dark: #444;

$font-logo: 'Sacramento', cursive;
$font-header: 'Oswald', sans-serif;
$font-text: 'Source Sans Pro', sans-serif;

/* Global */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  border:solid black;
  margin:0;
  position: relative;
  background-image: url('../images/pexels-bohlemedia-2803160.jpg');
  background-attachment: fixed;
  background-size: cover;
  font-family: $font-text;
  color: $color-dark;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.section-title {
  font-size: 22px;
  text-transform: uppercase;
  font-family: $font-header;
  font-weight: 600;
  span {
    text-transform: none;
    font-weight: 400;
    color: lighten($color-dark, 20%);
  }
}

/* Layout */

.wrapper {
  display: flex;
  margin-left: 10px;
}

.sidebar {
  flex: 1 0 0;
}

.posts {
  position:relative;
  width:50%;
}

.sidebar, .posts {
  background: $color-light;
  margin-right: 10px;
  padding: 40px;
  border: 1px solid $color-dark;
  border-radius: 5px;
  height:750px;
}

/* Logo */

.logo {
  font-family: $font-logo;
  font-weight: 400;
  font-size: 104px;
  line-height: 1;
  text-align: center;
  color:$color-light;
}

/* Lists */

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  .active {
    font-weight: bold;
  }
}

.titles li {
  list-style-type:decimal;
  padding-bottom:12px;
  a {
    text-decoration: none;
    color:black;

  }
}


.list-horizontal {
  li {
    display: inline-block;
  }
}

/* Authors */

.authors {
  li {
    margin-bottom: 12px;

    a {
      text-decoration: none;
      color:black;
    }
  }
}

/* Post */

.post {
  position:absolute;
  opacity:0;
  transform:translateY(20px);
  transition:opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  visibility:hidden;
  &.active {
    margin-right:15px;
    display: block;
    opacity:1;
    transform:translateY(0);
    visibility:visible;
  }

}

.post-author {
  font-style: italic;
  list-style-type: none;
  a {
    text-decoration: none;
    color:black;

  }
}

.post-tags {
  display: flex;

  ul li{
    margin-right:10px;
  }

  p {
    margin: 0 10px 0 0;
  }

  a {
    color:black;
    text-decoration:none;
  }
}

/* Tags list */

.tags {
  padding-bottom:100px;
}

.tags li{
  display:inline-block;
  margin-right:5px;
  margin-top:0px;

  a {
    text-decoration: none;
  }
}

.tag-size-1 {
  font-size:12px;
  color:#3457D5
}

.tag-size-2 {
  font-size:14px;
  color:#0066b2
}

.tag-size-3 {
  font-size:16px;
  color:#007FFF
}

.tag-size-4 {
  font-size:18px;
  color:#0066b2
}

.tag-size-5 {
  font-size:20px;
  color:#00308F;
}






